<div class="main-container">
  <h1 id="welcome">Welcome to Viagg.io</h1>
  <h3 id="explanation">
    <p><em>Viaggio</em>'s Italian for "travel."</p>
    <p><em>Viagg.io</em> lets you share your travel photos and stories.</p>
  </h3>
  <a id="sign_in" href="/auth/facebook"><i class="icon-facebook" style="padding-right:20px"></i> Sign in with Facebook </a>
  <p class="warning">Closed beta. Invite Only.<p>
  <script>Facebook.initialize();</script>
</div>
