<a href="/instagram/connect">Connect with Instagram</a>

<% if @user %>
  <% @photos.each do |photo|%>
    <img src="<%= photo.url %>" ><br>
    <p>Latitude: <%= photo.lat %></p>
    <p>Longitude: <%= photo.long %></p>
    <p>Date: <%= photo.date %></p>
  <% end %>
<% end %>

