<div class="trips-container">
	<h1>All Trips</h1>

	<% if @trips %>
	<ul>
		<% @trips.each do |trip| %>
			<li><%= link_to trip.name, trip_path(trip) %></li>
		<% end %>
	</ul>

	<%= link_to "Create a New Trip", new_trip_path %>

	<% end %>
</div>