<div class="container">
	<h1>All Trips!</h1>

	<%= link_to "Create New Trip", new_trip_path %>


	<% if @trips %>
	<ul>
		<% @trips.each do |trip| %>
			<li><%= link_to trip.name, trip_path(trip) %></li>
		<% end %>
	</ul>

	<% end %>
</div>