<h1><%= @trip.name %></h1>
<p><a href="/instagram/connect">Connect with Instagram</a></p>

<div class="map-wrapper">
  <%= render "main/map" %>
</div>

<div class="photos-container">
  <% if @photos %>
    <% process_photos(@photos).each_with_index do |photo|%>
      <div class="slide">
        <div class="photo-container" data-map-index="<%= photo.map_index %>">
          <img src="<%= photo.url %>" ><br>
        </div>
        <div class="caption"></div>
      </div>
    <% end %>
  <% end %>
</div>