<h1><%= @trip.name %></h1>


<div class="map-wrapper">
  <div id="map-canvas"></div>
</div>

<div class="photos-wrapper">
  <% if @photos %>
    <% process_photos(@photos).each_with_index do |photo|%>
        <%= image_tag photo.url, class: 'photo', data: {lat: photo.lat, lng: photo.long}%>
        <br>
    <% end %>
  <% end %>
</div>

<svg class="main-svg"></svg>

<script>
	$(document).ready(function() {
	  gmap.loadScript();

	  $(document).on('scroll', main.update);
	  $(window).on('load', main.resize);
	  $(window).on('resize', main.resize);
	});
</script>