<h1><%= @trip.name %></h1>
<p><a href="/instagram/connect">Fetch Photos From Instagram</a></p>
<p><a href="/facebook/connect">Fetch Photos From Facebook</a></p>


Removed map for simplicity

<div>
  <% if @photos %>
    <% process_photos(@photos).each_with_index do |photo|%>
          <img src="<%= photo.url %>" ><br>
    <% end %>
  <% end %>
</div>