<div class="user-container">
	<% if @user == @user_on_page %>
	<h1>My Trips</h1>
	<% else %>
	<h1>Welcome to the profile of <%= @user_on_page.name %></h1>
	<h2>Check out <%= @user_on_page.name %>'s Trips:</h2>
	<% end %>
	<ul>
		<% @trips.each do |trip| %>
		<li>
			<%= link_to trip.name, trip_path(trip), class: "trip-name" %> 
		</li>
		<% end %>
	</ul>
	<% if @user == @user_on_page %>
	<%= link_to 'Add a Trip', new_trip_path, class: "create" %>
	<% end %>
</div>