var DeleteButton = {

  deletePhoto: function (event) {
    event.preventDefault();
    $this = $(this)
    $.ajax({
      type: "DELETE",
      url: '/trips/' + $this.closest('.photo-info').data('trip-id') + '/photos/' + $this.closest('.photo-info').data('photo-id'),      
      beforeSend: function(){
        $this.closest('.single_photo').hide();
      }
    });
  },

  initialize: function () {
    $('.single_photo').on('click','.delete_button',DeleteButton.deletePhoto);
  }  
};

var EditButton = {
  onSuccess: function(success){
    var photoId = $(success).data("photo-id");
    var selector  = "#form_"+photoId;
    $(selector).replaceWith(success);
    $('.edit_button').on('click', EditButton.editButton);

  },
  submitForm: function (event) {
    event.preventDefault();
    $this = $(this);
    var data = $this.serialize();

    $.ajax({
      type: "PUT",
      url: '/trips/' + $this.find('#photo_trip_id').val() + '/photos/' + $(this).find('#photo_id').val(),
      data: data,
      success: EditButton.onSuccess
    });
  },
  editButton: function (event) {
    event.preventDefault();
    var photoCaption = ($(this).parent().siblings('.photo_caption').text());
    var photoDate = ($(this).parent().siblings('.photo_date').text());
    var photoLat = $(this).parent().parent().data('lat');
    var photoLong = $(this).parent().parent().data('lng');
    var photoId = $(this).parent().parent().data('photo-id');
    var tripId = $(this).parent().parent().data('trip-id');
    var formId = "form_"+photoId;
    var formClone = $('#editForm').clone().removeClass('hidden')
    .attr("id", formId).attr("method", 'PUT').attr("action", "photos/"+photoId);
    formClone.find("#photo_caption").val(photoCaption);
    formClone.find("#photo_lat").val(photoLat);
    formClone.find("#photo_long").val(photoLong);
    formClone.find("#photo_date").val(photoDate);
    formClone.find("#photo_id").val(photoId);
    formClone.find("#photo_trip_id").val(tripId);
    var replaceShit =  $(this).closest('.photo-info').replaceWith(formClone);
    selector = '#form_'+photoId;
      // $(this).parent().replaceWith("<form class='editForm' id='form_"+photoId+"'><label for='caption'>Caption: </label><input type='text' name='caption' value='" + photoCaption + "'><br><label for='lat'>Latitude: </label><input type='text' name='lat' value='" + photoLat + "'><br><label for='long'>Long: </label><input type='text' name='long' value='" + photoLong + "'><br><label for='date'>Date: </label><input type='text' name='date' value='" + photoDate + "'><input type='hidden' name='photoId' value='" + photoId + "'><input type='hidden' name='tripId' value='" + tripId + "'><input type='submit' value='Submit'></form>");
      // $(selector).on('submit', EditButton.submitForm);
    EditButton.locator();
    $(selector).find('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
    $(selector).on('submit', EditButton.submitForm);
  },
  locator: function() {
    $('form').on('click', '.locator-button', function(event) {
      event.preventDefault();
      $('nav').after('<div class="bg-filter"></div><div id="locator-container"><div id="locator-canvas"></div><span id="drag-directions">Drag and drop the marker to select a new location.</span><button id="locator-done">Done</button></div>');
      var photoLat = ($(this).siblings('.photo_lat').text());
      var photoLong = ($(this).siblings('.photo_long').text());
      var formId = '#' + $(this).parent().attr('id');
      gmapLocator = new GmapLocator(photoLat, photoLong, formId);
      gmapLocator.initialize();
    });
    $('body').on('click', '#locator-done', function(event) {
      event.preventDefault();
      $('.bg-filter').remove();
      $('#locator-container').remove();
    });
  },
  initialize: function () {
    $('.edit_button').on('click', EditButton.editButton);
  }
};

