<h1>Photos</h1>

<% if @photos %>
	<p>Photo List:</p>
	<% @photos.each do |photo| %>
		<%= photo.url  %><br>
	<% end %>
<% end %>

<div class="clear"></div>
<h2>Upload Multiple Photos</h2>
<p>Note: jpg or jpeg format only</p>

<%= s3_uploader_form callback_url: photos_url, callback_param: "photo[image_url]", max_file_size: 15.megabytes, id: "myS3Uploader" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>