<style>
  #results {
    border: dashed black 2px;
    min-height: 90px;
    background-color:gray;  
    opacity:0.4; /* transparency */  
    filter:alpha(opacity=40); /* IE transparency */
    position: relative;
  }
  #results_label {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 30px;
  }  
  .uploading_image{
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 5px;
  }
  .image_preview {
    width: 100px;
    vertical-align: top;
  }
  .loader {
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */
    width: 100%;
    height: 100%;
  }
  .loader img {
    width: 50px;
    margin: 10px 0 0 20px;
  }


</style>


<div class="container">
  <h1>Upload new photo to Imgur</h1>
  <p><%= link_to "Back to Photo List", trip_photos_path(@trip) %></p>
  <div><button onclick="document.querySelector('#manual_upload').click()">Upload Photos</button></div>
  <input id="manual_upload" style="visibility: collapse; width: 0px;" type="file" multiple onchange="uploadImage(this.files,this.files.length-1)">
  <div id="counter"></div>
  <div id="results">
    <div id="results_label">Drag and Drop Photos Here</div>
    <div id="preview_area"></div>
  </div>
</div>

<script>
  imgur_uploader();
</script>