$bg-img: 'http://maps.googleapis.com/maps/api/staticmap?zoom=2&size=640x640&scale=2&maptype=roadmap&style=feature:all|saturation:-70|gamma:1.5&style=feature:all|element:labels|visibility:off&visual_refresh=true&sensor=false';
/* $bg-img: 'http://maps.googleapis.com/maps/api/staticmap?zoom=4&size=640x640&scale=2&maptype=roadmap&style=feature:all|saturation:-70|gamma:1.5&style=feature:all|element:labels|visibility:off&visual_refresh=true&markers=color:blue|Chicago,IL|San+Francisco,CA&sensor=false'; */
$black: #222;
$white: #eee;
$nav-color: #1E6D72;
$light-nav-color: #1FB5BE;



/* ------ Globals ------- */
a {
	color: $black;
	text-decoration: none;
}
h1 {
	font-size: 72px;
}
@mixin shadow {
  -webkit-box-shadow: 0 0 19px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 19px rgba(0,0,0,0.5);
  box-shadow: 0 0 19px rgba(0,0,0,0.5);
}

/* ------ Layout -------- */
body {
	background-image: url($bg-img);
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
  width: 100%;
  height: 20px;
  background: $light-nav-color;
	line-height: 20px;
	font-size: 12px;
	color: $white;
}
nav a {
	color: $white;
}
#title_link {
	padding-left: 8px;
  float: left;
}
#username_link {
	padding-right: 8px;
	float: right;
	a {
		text-decoration: underline;
	}
}

/* ------- Index ------- */
.index-container {
	width: 30%;
	margin: auto;
}
.index-container a {
	display: block;
	font-size: 32px;
	background: $light-nav-color;
	color: $white;
	border-radius: 12px;
	padding: 18px;
	text-align: center;
	&:hover {
		@include shadow;
	}
}


