@mixin shadow {
  -webkit-box-shadow: 0 0 19px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 19px rgba(0,0,0,0.5);
  box-shadow: 0 0 19px rgba(0,0,0,0.5);
}

@mixin narrow-container {
  width: 40%;
  margin: auto;
}

@mixin action-link {
  display: block;
  font-size: 32px;
  background: $nav;
  color: $white;
  border-radius: 8px;
  padding: 18px;
  text-align: center;
  &:hover {
    @include shadow;
  }
}

@mixin info-link {
  display: block;
  font-size: 32px;
  background: $white;
  color: $nav;
  border-radius: 8px;
  padding: 18px;
  text-align: center;
  &:hover {
    @include shadow;
  }
}