@import "variables";
@import "mixins";

/* ------ Trips new page ------- */
form.new_trip {
  width: 100%;
  margin: auto;
  font-size: 24px;
}
.new_trip label, input {
  display: inline-block;
}
.new_trip label {
  width: 72px;
}
.new_trip input {
  width: 80%;
  height: 2em;
  margin-bottom: 12px;
  line-height: 2em;
  font-size: 24px;
  padding-left: 4px;
}
.new_trip input[type="submit"] {
  width: 100%;
  @include action-link;
  line-height: 1em;
  border: none;
  margin: 36px 0;
}

/* ------ Trips edit page ------ */
.container {
  padding: 10px;
  width: 800px;
  margin: auto;
  font-size: 18px;
}

form.edit_trip {
  width: 100%;
  margin: auto;
}
.edit_trip label, input {
  display: inline-block;
}
.edit_trip input {
  width: 25%;
  margin-right: 8px;
  font-size: 18px;
  padding-left: 4px;
}
.edit_trip input[type="submit"] {
  width: 18%;
  border: none;
  background: $nav;
  color: $white;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  &:hover {
    @include shadow;
    cursor: pointer;
  }
}

.fetch-button {
  font-size: 20px;
  padding: 6px 10px;
  margin: 8px 0;
  width: 32%;
  border: none;
  background: $nav;
  color: $white;
  border-radius: 4px;
  text-align: center;
  &:hover {
    @include shadow;
    cursor: pointer;
  }
}

.bg-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: black;
}

#locator-container {
  background: $white;
  position: absolute;
  top: 33%;
  left: 33%;
  width: 420px;
  height: 460px;
  margin: auto;
  font-size: 18px;
  text-align: center;
  z-index: 999;
}

#drag-directions {
  display: inline-block;
  padding: 4px 2px;
}

#locator-canvas {
  height: 400px;
  width: 420px;
}

#results {
  border: dashed black 2px;
  min-height: 90px;
  background-color: #ccc;
  opacity:0.8; /* transparency */  
  filter:alpha(opacity=80); /* IE transparency */  
  position: relative;
  margin: 10px 0 20px 0;
}
#results_label {
  text-align: center;
  font-size: 24px;
  color: black;
  margin-top: 30px;
}
.uploading_image{
  position: relative;
  display: inline-block; 
  width: 100px;
  margin: 5px; 
}
.image_preview {
  width: 100px;
  vertical-align: top; 
}
.loader {
  position: absolute;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color:white;  
  opacity:0.6; /* transparency */  
  filter:alpha(opacity=60); /* IE transparency */
  width: 100%;
  height: 100%;
}
.loader img {
  width: 50px;
  margin: 10px 0 0 20px;
}

/* ------- Index ------- */
.trips-container {
  @include narrow-container;
  a {
    @include action-link;
  }
  li a {
    @include info-link;
  }
}

/* ------- Show ------- */
#trip-title {
  // display: inline-block;
  // padding: 8px;
  background: $white;
  width: 50%;
  margin: 0 3%;
}

#trip-title h1 {
  margin-top: 36px;
  margin-bottom: 0;
  padding-left: 8px;
}

.trip-subtitle {
  display: inline-block;
  font-size: 18px;
  background: $white;
  width: 100%;
  padding-bottom: 4px;
}

.trip-subtitle a, p {
  padding: 0 8px;
  margin: 0;
}

// .edit-button, .delete-button {
//   color: $nav;
//   padding: 4px 18px;
//   font-size: 14px;
//   background: $white;
// }

// .edit-button {
//   border-top-left-radius: 8px;
//   &:hover {
//     -webkit-box-shadow: -5px -5px 19px -6px rgba(0,0,0,0.5);
//     -moz-box-shadow: -5px -5px 19px -6px rgba(0,0,0,0.5);
//     box-shadow: -5px -5px 19px -6px rgba(0,0,0,0.5);
//   }
// }

// .delete-button {
//   border-top-right-radius: 8px;
//   &:hover {
//     -webkit-box-shadow: 5px -5px 19px -6px rgba(0,0,0,0.5);
//     -moz-box-shadow: 5px -5px 19px -6px rgba(0,0,0,0.5);
//     box-shadow: 5px -5px 19px -6px rgba(0,0,0,0.5);
//   }
// }


.photo-caption {
  font-size: 18px;
  padding: 8px;
  background: $white;
  border-radius: 8px;
}

