$bg-img: 'http://maps.googleapis.com/maps/api/staticmap?zoom=2&size=640x640&scale=2&maptype=roadmap&style=feature:all|saturation:-70|gamma:1.5&style=feature:all|element:labels|visibility:off&visual_refresh=true&sensor=false';
/* $bg-img: 'http://maps.googleapis.com/maps/api/staticmap?zoom=4&size=640x640&scale=2&maptype=roadmap&style=feature:all|saturation:-70|gamma:1.5&style=feature:all|element:labels|visibility:off&visual_refresh=true&markers=color:blue|Chicago,IL|San+Francisco,CA&sensor=false'; */
$black: #222;
$white: #eee;
$nav: #1FB5BE;
